<div class="btn-group">
    <a href="<%= admin_user_role_path %>" class="btn"><i class="icon-file"></i> Back to Roles</a>
</div>
<div class="row-fluid">
    <div class="span12">
        <h1>Add Role</h1>
    </div>
</div>
<% if flash[:error] %>
<div class="alert alert-error">
    <% flash[:error].each do |error_message| %>
    <%= error_message %>
    <br />
    <% end %>
</div>
<% end %>

<% if flash[:notice] %>
<div class="alert alert-success mt15">
    <button type="button" class="close" data-dismiss="alert">
        x
    </button>
    <%= flash[:notice].html_safe %>
</div>
<% end %>

<%= form_for :role, url: admin_user_addrole_path, :html => {:name => 'add_role'} do |role_form| %>
<span class="input_label">Role Name</span>
<%= role_form.text_field :name, :class=>"input-block-level", "ng-model"=>"roleName", "ng-init"=>"roleName='"+@params_role_name+"'" %>
            <span class="input_label">Page Status</span>
            <%= role_form.hidden_field :status, :class=>"status", :value=>"{{statusValue.toLowerCase()}}" %>
            <div class="btn-group mb10">
                <a href="javascript:void(0)" class="btn btn-stat btn-large w75 fsize14" ng-init="statusValue='<%= @params_role_status %>'">{{statusValue}}</a>
                <button data-toggle="dropdown" class="btn btn-large dropdown-toggle">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu status-menu">
                    <li>
                        <a href="" ng-click="selectStatus('Active')">Active</a>
                    </li>
                    <li>
                        <a href="" ng-click="selectStatus('Inactive')">Inactive</a>
                    </li>
                </ul>
            </div>
<span class="input_label">Permission</span>
<% if @params_role_permissions.nil? %>
	<% @roles.each do |role| %>
	<label><input type="checkbox" name="permissions[]" value="<%= role %>"> <%= role %></label>
	<% end %>
<% else %>
	<% @roles.each do |role| %>
	<% checkval = @params_role_permissions.include?(role) ? 'checked' : ''  %>
	<label><input type="checkbox" name="permissions[]" value="<%= role %>" <%= checkval %> /> <%= role %></label>
	<% end %>
<% end %>

<div class="btn-holder">
    <%= submit_tag("Save",:class=>"btn btn-primary btn-large mr5") %>
    <a href="<%= admin_user_role_path %>" class="btn btn-large">Cancel</a>
</div>
<% end %>
