<div class="container">
	<div class="text-center mb20"><%=image_tag("fusionpanel_logo.png", alt: "Example Image", width: 360)%></div>
	<%= form_for :users, url: admin_resetpassword_submit_user_path + '?token=' + @reset_token + '&account=' + @account_id, :html => {:name => 'form-create-user', :class=>"form-create-user"}  do |page_form| %>
		<h2 class="form-signin-heading fsize14 text-center mt0">Reset Password</h2>
				<% if flash[:notice] %>
		<div class="alert alert-success mb10">
		<%= flash[:notice].html_safe %>
		</div>
		<% end %>
		<% if flash[:error] %>
		<div class="alert alert-error mb10">
			<% flash[:error].each do |error_message| %>
			<%= error_message %> <br />
			<% end %>
		</div>
		<% end %>
		<input type="hidden" name="account_email" value="<%= @account_email %>" >
		<%= page_form.hidden_field :token, :value=> @reset_token %>
		<%= page_form.text_field :email, :value=> @account_email, :class=>"input-block-level", :placeholder=>"Email", :disabled=>"disabled" %>
		<%= page_form.password_field :password, :class=>"input-block-level", :placeholder=>"New Password", :autocomplete => :off %>
		<%= page_form.password_field :password_confirmation, :class=>"input-block-level", :placeholder=>"Confirm New Password" %>
		<div class="mt10">
			<%= submit_tag("Submit",:class=>"btn btn-large btn-primary pull-right") %>
			<div class="clear"></div>
		</div>

	<% end %>
</div> 

